<!--SEARCHBROWSE-->
<h2 class="heading"><%= ts("Collection Search: Alpha") %></h2>

<%= render 'shared/search_nav' %>

<%= render :partial => 'collections/search_form' %>

<% if @collections %>
  <p><strong><%= @collections.total_entries %> Found</strong></p>
  <h3 class="landmark heading">Collection List</h3>
  <ol class="pseud index group">
    <% for collection in @collections %>
      <% unless collection.nil? %>
        <%= render :partial => 'collections/collection_blurb', :locals => {:author => collection} %>
      <% end %>
    <% end %>
  </ol>
  <%= will_paginate @collections %>
<% end %>
