<%= form_for(@archive_import) do |f| %>
  <% if @archive_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archive_import.errors.count, "error") %> prohibited this archive_import from being saved:</h2>

      <ul>
      <% @archive_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>Archive Name<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :archive_type_id %>Archive Type<br />
    <%= f.text_field :archive_type_id %>
  </div>
  <div class="field">
    <%= f.label :old_base_url %>Source URL<br />
    <%= f.text_field :old_base_url %>
  </div>
  <div class="field">
    <%= f.label :notes %>Notes<br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :collection_id %>Collection ID<br />
    <%= f.number_field :collection_id %>
  </div>
  <div class="field">
    <%= f.label :archivist_user_id %>Archivist ID<br />
    <%= f.number_field :archivist_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
