<h1>Products</h1>

<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> |
  <%= link_to "Excel", products_path(format: "xls") %>
</p>

<table id="products">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>URL</th>
  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.title %></td>

    <td><%= product.imported_from_url %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "Import products", new_product_import_path %></p>
